.cart-dropdown {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 90px;
    right: 40px;
    z-index: 5;

    .cart-all_price {
        display: flex;
        justify-content: space-between;
        
        h3 {
            margin: 0;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .cart-items {
        height: 240px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
    }
  
    button {
        margin-top: auto;
    }
}